@media only screen and (max-width: 1200px){
    .display-1 {
        font-size: 6.2rem;
    }
    .display-2 {
        font-size: 5.7rem;
    }
    .display-3{
        font-size: 5.2rem;
    }
    .display-4{
        font-size: 4.7rem;
    }
    .display-5{
        font-size: 3.5rem;
    }
}
@media only screen and (max-width: 800px){
    .display-1 {
        font-size: 5.5rem;
    }
    .display-2 {
        font-size: 4.5rem;
    }
    .display-3{
        font-size: 3.5rem;
    }
    .display-4{
        font-size: 3rem;
    }
    .display-5{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 600px){
    .display-1 {
        font-size: 4rem;
    }
    .display-2 {
        font-size: 3.5rem;
    }
    .display-3{
        font-size: 3rem;
    }
    .display-4{
        font-size: 2.5rem;
    }
    .display-5{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 400px){
    .display-1 {
        font-size: 3.2rem;
    }
    .display-2 {
        font-size: 2.7rem;
    }
    .display-3{
        font-size: 2.2rem;
    }
    .display-4{
        font-size: 1.7rem;
    }
    .display-5{
        font-size: 1rem;
    }
}
#about_1{
    padding-top: 50px;
    background-color: #39b54a;
    color: #010507;
}
#about_2{
    padding-bottom: 50px;
}
.line_bottom{
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    width: fit-content;
}
.size{
    max-width: 960px;
}
.size_1{
    max-width: 1400px;
    padding: 50px;
}
.size_2{
    max-width: 1200px;
}
.wrap{
    padding-top: 12rem;
    padding-bottom: 22rem;
}
.works_content{
    margin: auto;
    margin-top: -15rem;
}
.item{
    width: 100%;
    height: auto;
    transition-duration: 1s;
    background-color: #000000;
    position: relative;
}
.item:hover{
    background-color: #000000;
}
.item img{
    width: 100%;
    height: auto;
    -webkit-filter: brightness(100%);
}
.item:hover img{
    -webkit-filter: brightness(40%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.item:hover .item_info{
    visibility: visible;
    opacity: 1;
}
.item_info{
    color: white;
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 2.5rem;
    padding: 0 1rem;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
}
.footer{
    background-color: #000000;
}
.footer_contents{
    max-width: 1200px;
    margin: auto;
}
.content_1 , .content_2{ 
    padding: 100px 20px 50px 20px
}
.content_1 p{
    opacity: 0.6;
}
.content_2 p {
    width: fit-content;
    opacity: 0.6;
}
.developers{
    width: 300px;
    margin: auto;
}
.developers p{
    width: 100%;
    text-align: center;
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.scroll{
    animation: 1.5s ease-out 0s 1 slideInFromBottom;
}
.scroll1{
    animation: 1s ease-out 0s 1 slideInFromBottom;
}