#priceContainer {
    padding-top: 5rem;
    background: black;
    opacity: .8;
}
#navBarContainer {
        background: currentColor;
}
.m-border {
    padding:1rem 0.25rem;
    border: 2px green solid; 
    border-radius: 20px 20px 0px 0px; 
    border-bottom: none;
}
#priceHeader {
    width: max-content;
}
@media screen and (min-width: 240px){
    body {
        overflow: auto;
    }
}
@media screen and (min-width: 320px){
    
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px){
    
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px){
    
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px){
    body {
        overflow: hidden;
    }
}