.navbar-custom { 
    background-color: none; 
} 
  
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: black; 
} 

.center {
    position: relative;
    margin: auto;
}

.s-services {
    padding-top: 16.2rem;
    padding-bottom: 13.2rem;
    background-color: #ffffff;
    color: #8b8a8a;
    position: relative;
}

.services-list {
    width: 1200px;
    margin-top: 6rem;
}

.services-list .service-item {
    margin-bottom: .9rem;
}

.services-list .service-item h3 {
    margin-top: 0;
}

.services-list .service-item:nth-child(2n+1) {
    padding-right: 50px;
}

.services-list .service-item:nth-child(2n+2) {
    padding-left: 50px;
}

.services-list .service-text {
    margin-left: 7.8rem;
}

.services-list .service-icon {
    float: left;
    color: #39b54a;
    font-size: 4.8rem;
    margin-top: -.6rem;
}

/* Section-header */

.section-header {
    margin: auto;
    text-align: center;
    position: relative;
    margin-bottom: 3.6rem;
    max-width: 960px;
}

.section-header.has-bottom-sep {
    padding-bottom: 2.1rem;
    position: relative;
}

.section-header.has-bottom-sep::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-header.has-bottom-sep.light-sep::before {
    background-color: rgba(255, 255, 255, 0.05);
}

.display-1 {
    font-family: "montserrat-medium", sans-serif;
    font-size: 7.8rem;
    line-height: 1.25;
    color: #000000;
    margin-top: 0;
}

.display-1--light {
    color: #FFFFFF;
}

.display-2 {
    font-family: "montserrat-medium", sans-serif;
    font-size: 5.2rem;
    line-height: 1.255;
    color: #000000;
    margin-top: 0;
}

.display-2--light {
    color: #FFFFFF;
}

.subhead + .display-2 {
    margin-top: .6rem;
}

.subhead {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.7rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #39b54a;
    margin-top: 0;
    margin-bottom: 0;
}

.subhead--dark {
    color: #000000;
}




[class*="block-"]:after {
    content: "";
    display: table;
    clear: both;
}

.block-1-6 .col-block {
    width: 16.66667%;
}

.block-1-5 .col-block {
    width: 20%;
}

.block-1-4 .col-block {
    width: 25%;
}

.block-1-3 .col-block {
    width: 33.33333%;
}

.block-1-2 .col-block {
    width: 50%;
}

.block-1-6 .col-block:nth-child(6n+1),
.block-1-5 .col-block:nth-child(5n+1),
.block-1-4 .col-block:nth-child(4n+1),
.block-1-3 .col-block:nth-child(3n+1),
.block-1-2 .col-block:nth-child(2n+1) {
    clear: both;
}


