<!doctype html>
<html lang="vi">
    <head>
        <meta charset="utf-8">
        <title>Bảng giá</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="./bootstrap-4.5.3-dist/css/bootstrap.css">
        <script src="./jquery-3.5.1/jquery-3.5.1.js"></script>
		<script src="./bootstrap-4.5.3-dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="./css/style.css"> 
        <link rel="stylesheet" href="./css/footer.css">
        <link rel="stylesheet" href="./css/price.css">
    </head>
    <body>
        <script>let name = "Price"</script>
        <button id="scrollTop" style="background-color: black; opacity: .4;" class="btn" onclick="window.scrollTo(0, 0)">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-bar-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
        <div class="parallax" id="parallaxScrolling"></div>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbarContainer">
            <a class="navbar-brand" href="./"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNavBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent">
                <div class="collapse navbar-collapse" id="headerNavBar">
                    <ul class="navbar-nav mr-auto" id="navListItem"></ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid my-container" id="priceContainer">            
            <section class="pricing py-3">
                <div class="row m-auto flex-column p-2" id="priceHeader">
                    <h2 class="sub-title m-border">Bảng giá dịch vụ</h2>
                </div>
                <div class="container">
                    <div class="row">
                    <!-- Low Tier -->
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Web Free</h5>
                            <h6 class="card-price text-center">0₫<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase">Đăng ký</a>
                        </div>
                        </div>
                    </div>
                    <!-- Normal Tier -->
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Web Plus</h5>
                            <h6 class="card-price text-center">150.000₫<span class="period">/tháng</span></h6>
                            <hr>
                            <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase">Đăng ký</a>
                        </div>
                        </div>
                    </div>
                    <!-- Pro Tier -->
                    <div class="col-lg-4">
                        <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Advanced Web</h5>
                            <h6 class="card-price text-center">Liên hệ<span class="period"></span></h6>
                            <hr>
                            <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase">Liên hệ đăng ký</a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="footer">
            <div class="footer_contents">
                <div class="content_1">
                    <div class="row">
                        <div class="col-md">
                            <h1 class="display-5 text-success">Assignment1.</h1>
                            <p class="text-white">
                                Đôi khi sự đấu tranh luôn cần phải có trong cuộc sống. Nếu cuộc sống trôi qua thật suôn sẻ, chúng ta sẽ không hiểu được cuộc sống, không có được bản lĩnh, nghị lực như chúng ta cần phải có, cuộc sống thật công bằng, không phải vô cớ mà mọi điều xảy đến với ta.
                            </p>
                        </div>    
                        <div class="col-md">
                            <h5 class="text-white">
                                Chúng tôi luôn bên bạn
                            </h5>
                            <p class="text-white">
                            Bạn cần sức mạnh, nghị lực nên cuộc sống đã đặt ra những khó khăn nghịch cảnh để bạn vượt qua và trở nên mạnh mẽ hơn
                            </p>
                            <button type="button" class="btn btn-success">
                                Đăng kí
                            </button>
                        </div>
                    </div>
                </div>
                <div class="content_2 pt-0">
                    <div class="developers">
                        <p class="text-white">Ngày thành lập :  27/11/2020</p>
                        <div class="row">
                            <div class="col-sm">
                                <p class="text-white">Nhà phát triển:</p>
                            </div>
                            <div class="col-sm">
                                <p class="text-white">Lê Hữu Võ Long</p>
                                <p class="text-white">Trương Hải Long</p>
                                <p class="text-white">Ngô Quốc Khánh</p>
                                <p class="text-white">Nguyễn Hữu Kiệt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./js/home.js"></script>
    </body>